# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Data directories
/data/raw/
/data/processed/

# Logs and outputs
/outputs/logs/
/outputs/plots/

# Model checkpoints
/models/checkpoints/

# Environment files
*.env
*.DS_Store